/* Styles pour les paragraphes */
p {
    color: black;
    font-size: 1.3em;
    font-weight: 300;
}

/* Styles pour les titres de niveau 1 */
h1 {
    color: black;
    font-size: 4.5em;
    font-weight: bold;
}

/* Styles pour les titres de niveau 2 */
h2 {
    color: black;
    font-size: 2em;
    font-weight: bold;
}

/* Styles pour les titres de niveau 3 */
h3 {
    color: black;
    font-size: 2.5em;
    font-weight:400;
}
/* Styles pour les titres de niveau 3 */
h4 {
    color: orange;
    font-size: 1.2em;
}
/* CSS personnalisé pour le bouton LinkedIn */
.btn-linkedin {
    background-color: orange;
    border-color: orange;
    font-size: 1.5em;
}

.btn-linkedin:hover {
    background-color: #fcba3f;
    border-color: #fcba3f;
}

/* CSS personnalisé pour le bouton Github */
.btn-github {
    background-color:black;
    border-color:black;
    color: white;
    font-size: 1.5em;
}

.btn-github:hover {
    background-color: rgb(30, 30, 30);
    border-color: rgb(30, 30, 30);
    color: white;
}

/* CSS personnalisé pour le bouton "Télécharger" */
.btn-telecharger {
    background-color: black;
    border-color: black;
    color: white;
    font-size: 1.5em;
    margin-top: 1.7em;
    margin-bottom: 0.9em;
}

.btn-telecharger:hover {
    background-color: orange;
    border-color: orange;
    color: white;
}

.fa-birthday-cake {
    color: black;
    margin-right: 0.5em;
}

.fa-map-marker-alt {
    color: black;
    margin-right: 0.5em;
}

.fa-envelope {
    color: black;
    margin-right: 0.5em;
}

.fa-phone {
    color: black;
    margin-right: 0.5em;
}

.fa-discord {
    color: black;
    margin-right: 0.5em;
}
/* CSS pour la barre verticale */
.nom-avec-barre {
    position: relative;
}

.nom-avec-barre::before {
    content: "";
    position: absolute;
    left: 0; /* Ajustez la position de la barre en fonction de vos préférences */
    top: 0;
    bottom: 0;
    width: 0.3em; /* Largeur de la barre */
    background-color: orange; /* Couleur de la barre */
}

.nom-avec-barre h1 {
    margin-left: 0.6em; /* Ajustez la valeur pour le décalage souhaité */
}

.nom-avec-barre h2 {
    margin-left: 1em; /* Ajustez la valeur pour le décalage souhaité */
}

.nom-avec-barre h3 {
    margin-left: 1.2em; /* Ajustez la valeur pour le décalage souhaité */
}

.info-avec-barre {
    position: relative;
}

.info-avec-barre::before {
    content: "";
    position: absolute;
    left: 0; /* Ajustez la position de la barre en fonction de vos préférences */
    top: 0;
    bottom: 0;
    width: 0.1em; /* Largeur de la barre */
    background-color: black; /* Couleur de la barre */
}

.info-avec-barre h4 {
    margin-left: 0.8em;
}

.info-avec-barre p {
    margin-left: 0.8em;
}

.intro {
    margin-top: 5em;
    margin-bottom: 5em;
}

.row-divider {
    border-top: 0.3em solid #ccc; /* Barre grise de 1 pixel avec couleur #ccc */
    margin-top: 1em;
}